<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Scire.JTV.SynchronizeDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient"
          type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework"/>
      <provider invariantName="System.Data.SqlClient"
          type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <Scire.JTV.SynchronizeDB.Properties.Settings>
      <setting name="ConnectionTarget" serializeAs="String">
        <value>madq90swhEuaFABZvQcxO/RiMG2Te4dykrvcwLEXzvU0CL9ZT4TL0qgylBpi1ln3D6/+nWsHjSmn62WQqIgajgvA34J3fYsU16HQ6hIFChezF2iDAUeahyFoy84KO6xtdDbIe5Pbjcbeg+7+bvLBEwTnVq7w8jCi8YK4SfBxB0U=</value>
      </setting>
      <setting name="ConnectionSource" serializeAs="String">
        <value>gwJJHXTwULp5CwVl/MoCuuK6bwPK0P2Prt0Or0RhKUVIEZpWYksnprrpXifrY77oFfPr1KkpAtiU+7V04oG6Vg2TsWBrqhRz7Xh/UPShl4C5At1Lc4fpRJJcelH64iyZ9Q73j5BMF/cxpvHRRV3NXw==</value>
      </setting>
      <setting name="CodigoCliente" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TempoMinutos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResetBD" serializeAs="String">
        <value>23:59</value>
      </setting>
    </Scire.JTV.SynchronizeDB.Properties.Settings>
  </userSettings>
</configuration>
